🧑‍💻 Programming Computers How to Act
🎤 Pop Culture Enthusiast
💜 Spreading love and kindness

I am **Cat++**, I am a hobbyist programmer who likes to build open-source stuff. I also love listening to music specially Hip-Hop and Pop Music.