@use './e.scss';

.footer {
    display: block;
    text-align: center;
    padding: 1rem;
    color: e.$theme;

    a {
        text-decoration: none;
        color: currentColor;

        &:focus,
        &:hover {
            text-decoration: underline;
        }

        &:focus-visible {
            color: var(--primary);
            outline: none;
        }
    }
}
