@import './variables.scss';

:root {
    color-scheme: dark;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: $black;
    color: $white;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.discord-mention {
    display: inline-block;
    background: rgba($primary, $alpha: 0.4);
    color: saturate($primary, $amount: 1);
    font-size: 0.9em;
    padding: 0.1em 0.3rem;
    border-radius: 3px;
    cursor: default;

    &:hover {
        background: rgba($primary, $alpha: 0.3);
    }
}

.d-spoiler {
    background: $dark;
    font-size: 0.9em;
    padding: 0.1em 0.3rem;
    border-radius: 3px;
    color: $dark;
    user-select: none;

    &.active {
        color: currentColor;
        user-select: text;
    }
}

.discord blockquote {
    border-left: 4px solid $dark;
    padding: 0 0.3rem;
}