@import './variables.scss';

.discord-markdown {
    .d-mention {
        display: inline-block;
        background: rgba($secondaryColor, $alpha: 0.2);
        color: saturate($secondaryColor, $amount: 1);
        font-size: 0.9em;
        padding: 0.1em 0.3rem;
        border-radius: 3px;
        cursor: default;

        &:hover {
            background: rgba($secondaryColor, $alpha: 0.3);
        }
    }

    .d-spoiler {
        background: $darkColor;
        font-size: 0.9em;
        padding: 0.1em 0.3rem;
        border-radius: 3px;
        transition: 0.1s;
        color: $darkColor;
        user-select: none;

        &.active {
            color: currentColor;
            user-select: unset;
        }
    }

    a {
        color: rgba($secondaryColor, $alpha: 1);
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    blockquote {
        border-left: 4px solid $darkColor;
        padding: 0 0.3rem;
    }

    img.emoji {
        height: 1.3em;
        width: 1.3em;
        vertical-align: middle;
    }

    code {
        background: rgba($color: #000, $alpha: 0.3);
        padding: 0.2rem;
        border-radius: 5px;
    }
}