@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #498aec;
    --purple: #8400ff;
    --green: #00b890;
    --red: #cf4444;
    --yellow: #e7bb35;
    --orange: #ff9f1c;
    --white: #ffffff;
    --black: #222222;
    --gray: #bebebe;
    --light-gray: #f5f5f5;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Page */
.page {
    width: 100%;
    min-height: 500px;
    display: block;
}
.page.page-fullheight {
    height: 100%;
}
.page.page-nooverflow {
    overflow: hidden;
}